In [42]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [43]:
#oecd health spending 
spending_df = pd.read_csv('spending.csv')
#oecd life expectancy
expectancy_df = pd.read_csv('expectancy.csv')

In [44]:
len(expectancy_df['COU'].unique()),len(spending_df['LOCATION'].unique())

(49, 50)

In [45]:
expectancy_df = expectancy_df[~expectancy_df['COU'].isin(['RUS','IDN', 'ZAF'])]
spending_df = spending_df[~spending_df['LOCATION'].isin(['CYP', 'MLT','IDN', 'ZAF'])]

In [46]:
expectancy_df.rename(columns={'COU': 'LOCATION'}, inplace=True)

In [47]:
def tweak_data(spending_df, expectancy_df):
    return (spending_df.query('MEASURE=="MLLNCU"').groupby(['Year','LOCATION']).first().Value.rename('Spending_USD').to_frame()
            .merge(expectancy_df.groupby(['Year','LOCATION']).Value.max().rename('Life_expectancy').to_frame(),left_index=True,
                   right_index=True).reset_index()
    )

def plot_spend_vs_expect(group,ax):
    color = 'red' if group.name == 'USA' else '#ddd'
    group.plot(x='Spending_USD', y= 'Life_expectancy',ax=ax, c= color, legend=False)
    ax.text(group.Spending_USD.iloc[-1],
            group.Life_expectancy.iloc[-1], group.name , color=color
            )

In [48]:
df= tweak_data(spending_df, expectancy_df)

In [49]:
df.to_csv('owid-spending-vs-lifeexp.csv')

In [50]:
df

      Year LOCATION  Spending_USD  Life_expectancy
0     1970      AUT      1405.420             73.5
1     1970      BEL      1276.550             74.2
2     1970      CHE      5202.400             76.2
3     1970      CZE      7543.000             73.1
4     1970      DEU      4794.900             73.6
...    ...      ...           ...              ...
1552  2017      SVK       738.780             80.7
1553  2017      SVN       792.524             84.0
1554  2017      SWE    498821.000             84.1
1555  2017      TUR      1079.547             80.8
1556  2017      USA      5422.980             81.1

[1557 rows x 4 columns]

In [51]:
df = pd.read_csv('owid-spending-vs-lifeexp.csv')